body{margin: 30px; width: 100%;}
	body div.form{width: 100%; padding: 10px 10px 10px 50px;}

		body div.form input{display: inline-block; vertical-align: middle; box-sizing: initial;}
		body div.form button{display: inline-block; vertical-align: middle;}

.content{padding: 0px 50px; margin-top: 20px;}
.content label{display: inline-block; vertical-align: middle; padding: 0px 10px 10px 0px; font-weight: bold; text-transform: uppercase; width: 170px;}
.content span{display: inline-block; vertical-align: middle; padding: 0px 10px 10px 0px;}

.table{margin-top: 20px;}

.input {
	height: 20px;
	padding: 5px 10px;
	text-transform: uppercase;
}

.btn {
	border: none;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 6px 20px 6px 20px;
	text-decoration: none;
}

.btn:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
}